Repository nju33/storybook-docsify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

v0.0.1-0
  package.json
Due: prettier --write

build: fix pkg.json
  package.json
Due: prettier --write

v0.0.1-1
  package.json
Due: prettier --write

fix: rename pkg name
  README.md
  component/index.html
  package.json
Due: prettier --write

v0.0.1-2
  package.json
Due: prettier --write

fix: hide docsify panel when inactive is
  src/register.tsx
Due: eslint --fix

v0.0.1-3
  package.json
Due: prettier --write

v0.0.1-4
  package.json
Due: prettier --write

build(npm): bump storybook@^5.2.1
  package.json
  yarn.lock
Due: prettier --write

fix(register): pass the panel key
  src/register.tsx
Due: eslint --fix

feat: can be loaded wished *.md
  README.md
  component/foo/README.md
  component/foo/hello-foo.stories.tsx
  src/register.tsx
Due: eslint --fix

Create LICENSE
  LICENSE
Due: none

chore: create .github
  .github/FUNDING.yml
Due: prettier --write

chore: gen CHANGELOG
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

v1.0.0
  package.json
Due: prettier --write

v1.0.1
  package.json
Due: prettier --write

refactor: delete console 👻
  src/register.tsx
Due: eslint --fix

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{yml,json}
